.about-section {
    padding: 3rem 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    max-width: 1500px;
    margin: 2rem auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .about-section h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
  }
  
  .about-section p {
    font-size: 1.125rem;
    color: #555;
    line-height: 1.6;
  }